# ==================================================
# 目标平台与设备 (Target Platform & Device)
# ==================================================
CONFIG_TARGET_qualcommax=y                                # 目标平台为 aualcommax
CONFIG_TARGET_qualcommax_ipq60xx=y                        # 目标子平台为 ipq60xx (高通 IPQ60xx 系列 SoC)
CONFIG_TARGET_MULTI_PROFILE=y                             # 启用多设备配置文件支持
CONFIG_TARGET_DEVICE_qualcommax_ipq60xx_DEVICE_jdcloud_re-ss-01=y # 编译京东云无线宝 RE-SS-01 型号的固件

# ==================================================
# NSS 网络硬件加速 (Network Subsystem Support)
# ==================================================
CONFIG_IPQ_MEM_PROFILE_1024=y                             # IPQ 内存配置文件设置为 1024MB
CONFIG_ATH11K_MEM_PROFILE_1G=y                            # ath11k 无线驱动内存配置文件设置为 1GB
CONFIG_NSS_MEM_PROFILE_HIGH=y                             # NSS 内存配置文件设置为高
CONFIG_NSS_FIRMWARE_VERSION_11_4=y                        # 指定 NSS 固件版本为 11.4
CONFIG_PACKAGE_sqm-scripts-nss=y                          # 编译支持 NSS 加速的 SQM (流量整形) 脚本
CONFIG_PACKAGE_kmod-qca-mcs=y                             # 编译高通多播转换服务 (Multicast Snooping) 内核模块
CONFIG_KERNEL_SKB_RECYCLER=y                              # 启用内核网络缓冲区 (SKB) 回收器, 提升网络性能
CONFIG_KERNEL_SKB_RECYCLER_MULTI_CPU=y                    # 启用多核优化的 SKB 回收器
CONFIG_PACKAGE_kmod-ath11k-pci=m                          # 将 ath11k PCI 无线驱动编译为模块 (m=module)
CONFIG_NSS_DRV_WIFI_MESH_ENABLE=y                         # 启用 NSS 驱动对 Wi-Fi Mesh 的支持
CONFIG_PACKAGE_MAC80211_MESH=y                            # 启用 802.11s Mesh 网络支持
CONFIG_ATH11K_NSS_MESH_SUPPORT=y                          # 启用 ath11k 驱动对 NSS Mesh 的加速支持

# ==================================================
# 特定的 LuCI 插件
# ==================================================
CONFIG_PACKAGE_luci-app-athena-led=m                      # 编译 Athena LED 控制插件 (模块)
CONFIG_PACKAGE_luci-i18n-athena-led-zh-cn=m               # 编译 Athena LED 插件的简体中文语言包 (模块)
